{#
/**
 * @file
 * Theme override for a form container.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - errors: Error messages for this form element, if any.
 * - prefix: The form element's prefix HTML.
 * - suffix: The form element's suffix HTML.
 * - children: The rendered form element.
 *
 * @see template_preprocess_container()
 */
#}
<div{{ attributes.addClass('form-item') }}>
  {%- if prefix -%}
    {{ prefix }}
  {%- endif -%}
  {%- if errors -%}
    <div class="form-item--error-message">
      {{ errors }}
    </div>
  {%- endif -%}
  {{ children }}
  {%- if suffix -%}
    {{ suffix }}
  {%- endif -%}
</div>
