{#
/**
 * @file
 * Theme override for Solr Search Content view - individual result.
 *
 * Shows: image, title, and member_of field.
 */
#}
{% set theme_path = '/' ~ active_theme_path() %}
{% set default_image = theme_path ~ '/static/collections/default.jpg' %}

{% set title_field = fields.title.content|default('') %}
{% set image_field = fields.did_image.content|default('') %}
{% set member_of_field = fields.member_of_title.content|default('') %}

{% set has_image = image_field|striptags|trim is not empty %}

<div class="search-result-img">
	{% if has_image %}
		{{ image_field }}
	{% else %}
		<img src="{{ default_image }}" alt="{{ 'No image'|t }}">
	{% endif %}
</div>

<div class="search-result-info">
	<div class="search-result-title">
		{{ title_field|raw }}
	</div>
	{% if member_of_field|striptags|trim %}
		<div class="search-result-member">
			{{ member_of_field|striptags|trim }}
		</div>
	{% endif %}
</div>
