{#
/**
 * @file
 * Theme override for the Advanced Search for Collection Members block.
 */
#}
<div{{ attributes.addClass('sacda-advanced-search') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('mb-4 text-xl font-bold uppercase') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  <div class="sacda-advanced-search__content">
    {{ content }}
  </div>
</div>
